<p>test works!</p>

<table>
    <tr>
        <td>ID:</td>
        <td>{{id}}</td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>{{name}}</td>
    </tr>
    <tr>
        <td>Age:</td>
        <td>{{age}}</td>
    </tr>
</table>

<h4><u>Address:</u></h4>
Streetno:{{address.streetNo}}<br>
city:{{address.city}}<br>
state: {{address.state}}<br>

<h4><u>Hobbies:</u></h4>
<ul>
    <li *ngFor="let hobby of hobbies">{{hobby}}</li>
</ul>